{% extends 'base.html.twig' %}

{% block title %}Přidat recept{% endblock %}

{% block body %}
    <div class="container-md">
    <main class="site-main">
        <div class="container">
            <article class="content">
                <section class="post-full-content">
                    {{ form(form) }}
                </section>
            </article>
        </div>
    </main>
    </div>

{% endblock %}
