{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/login.css" >
{% endblock %}

{% block title %}Přidat recept{% endblock %}

{% block body %}
    <div class="menu">
        <a href="/" class="menu-item" >
            Recepty
        </a>
        <a href="/admin" class="menu-item" >
            Admin
        </a>
    </div>
    <main class="site-main">
        <div class="container">
            <article class="content">
                <section class="post-full-content">
                    {{ form(form) }}
                </section>
            </article>
        </div>
    </main>
{% endblock %}
