{% extends 'base.html.twig' %}

{% block title %}Vytvořit nový tag{% endblock %}

{% block body %}
    <div class="container-md py-4">
        <h1>Přidat nový tag</h1>
        {{ form_start(form, {
            'attr' : {'class' : 'mt-3'},
        }) }}
        <div class="my-3">
            {{ form_row(form.name, {
                'label' : 'Název',
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <div class="my-3">
            {{ form_row(form.type, {
                'label' : 'Typ',
                'attr' : {'class' : 'form-control'},
                'label_attr' : {'class' : 'form-label'}
            }) }}
        </div>
        <button type="submit" class="btn btn-primary">Přidat tag</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
