html {
    background-color: gainsboro;
    font-family: Verdana, sans-serif;
    font-size: large;
    color: dimgray;
}

.container {
    max-width: 760pt;
    margin: auto;
    padding-top: 20pt;
}

.menu {
    display: flex;
}

.menu-item {
    background-color: steelblue;
    color: ghostwhite;
    padding: 8pt 12pt;
    margin: 2pt;
    text-decoration: none;
}

a.menu-item:hover {
    background-color: lightcoral;
}

.tags {
    display: flex;
}

.tag {
    background-color: steelblue;
    color: ghostwhite;
    padding: 4pt 6pt;
    margin: 2pt;
    text-decoration: none;
    font-size: small;
}
a.tag:hover {
    background-color: lightcoral;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20pt;
    color: darkslategray;
    padding-top: 30pt;
}

@media only screen and (max-width: 900px) {
    .grid {
        grid-template-columns: auto auto;
    }

    .container {
        width: 100%;
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: auto;
    }

    .container {
        width: 100%;
        margin: 0;
    }
}

.recipe {
    color: darkslategray;
    text-decoration: none;
    font-size: small;
}

.aspect {
    width: 100%;
    padding-top: 66%;
    position: relative;
}

.recipe:hover {
    color: lightcoral;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
    background-color: dimgrey;
}

form {
    max-width: 400pt;
    margin: auto;
    padding: 30pt 10pt 10pt;
}

label {
    font-size: medium;
}

input, textarea {
    background-color: ghostwhite;
    border: thin solid steelblue;
    border-left: 8pt solid steelblue;
    font-size: larger;
    width: 95%;
    color: dimgray;
    padding: 6pt;
    margin-bottom: 10pt;
    margin-top: 4pt;
    align-self: center;
}

textarea {
    height: 300pt;
}

input:focus, textarea:focus {
    border: thin solid lightcoral;
    border-left: 8pt solid lightcoral;
    outline:none;
}

button {
    background-color: steelblue;
    color: ghostwhite;
    font-size: larger;
    font-weight: bolder;
    border: 0;
    padding: 10pt 30pt;
    margin-top: 10pt;
    letter-spacing: 1.5pt;
    float: right;
}