{% extends 'base.html.twig' %}

{% block body %}
    <header class="site-head">
        <div class="container">
            <div class="site-mast">
                <div class="site-mast-left">
                    <a href="/admin">
                        <h3 style="color: white">Admin</h3>
                    </a>
                    <a href="/admin/new-recipe">
                        <h3 style="color: white">Přidat recept</h3>
                    </a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
