{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="/styles/login.css" >
{% endblock %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="menu">
        <a href="/" class="menu-item" >
            Recepty
        </a>
        <a href="/admin/new-recipe" class="menu-item" >
            Přidat recept
        </a>
    </div>
{% endblock %}
