{% extends 'base.html.twig' %}

{% block body %}

<main class="site-main">
    <div class="container">
        <section class="post-feed">
            {% for recipe in recipes %}
                <a class="post-card" href="{{ recipe.slug }}">
                    <header class="post-card-header">
                    <div class="post-card-image" style="background-image:url({{ 'http://' ~ app.request.host ~ '/images/small/' ~ recipe.slug ~ '.jpg' }})">

                        </div>
                        <h2 class="post-card-title">{{ recipe.title }}</h2>
                    </header>
                </a>
            {% endfor %}
        </section>
    </div>
</main>

{% endblock %}
